//
// Override global variables
//

// Theme colors
$primary:       									#F64E60;
$primary-hover:    									#b70b0b;
$primary-light:    									#f7c9c9;
$primary-inverse:  									#FFFFFF;

$info:       									    #6993FF;
$info-light:    									#E1E9FF;
$info-hover:    									#4A7DFF;
$info-inverse:  									#FFFFFF;

$success:       									#1bc5bd;
$success-hover:    									#18e4e4;
$success-light:    									#e1ffef;
$success-inverse:  									#ffffff;
