
/* enable absolute positioning */
input[type="radio"] {
  display: none;
  &:not(:disabled) ~ label {
    cursor: pointer;
  }
  &:disabled ~ label {
    color: hsla(150, 5%, 75%, 1);
    border-color: hsla(150, 5%, 75%, 1);
    box-shadow: none;
    cursor: not-allowed;
  }
}

label#radio_customerType {
  height: 100%;
  display: block;
  box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
  position: relative;
}
input[type="radio"]:checked + label {
  border: 2px solid #ffccd0;;
  box-shadow: 0px 0px 20px #f7d4d4;
}

.form-element-container.text-detail .title {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.form-element-container.text-detail .orginal {
  width: 60px;
}
.form-element-container.text-detail .painted {
  width: 60px;
}
.form-element-container.text-detail .changed {
  width: 60px;
}
.form-element-container.text-detail .elements-row {
  background-color: #fff;
  display: flex;
  padding: 5px 10px;
  border: 2px solid #f0f0f0;
  border-top: 0;
  width: 364px;
}
.form-element-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
.form-element-container.text-detail {
  width: 364px;
  -webkit-box-flex: unset;
  -ms-flex: unset;
  flex: unset;
  margin-left:120px ;
}
.form-element-container.svg-detail {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 20px;
  margin-bottom: 30px;
  position: relative;
}
.form-element-container.svg-detail .guide-of-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
}
.form-element-container.svg-detail .guide-of-svg div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.form-element-container.svg-detail .guide-of-svg div:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #ffdb4d;
}
.form-element-container.svg-detail .guide-of-svg .changed:before {
  background-color: #e40030;
}
.form-element-container.svg-detail .guide-of-svg .changed {
  margin-left: 30px;
}
.form-element-container.text-detail .elements-title-container {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 10px;
  border: 2px solid #f0f0f0;
}
.form-element-container.svg-detail .typeOfDamege {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 97px;
  height: 102px;
  -webkit-box-shadow: 0 0 55px 0 #e6e6e6;
  box-shadow: 0 0 55px 0 #e6e6e6;
  background-color: #fff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 15px;
}
.form-element-container.svg-detail .typeOfDamege.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form-element-container.svg-detail .typeOfDamege .opetion-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
.form-element-container.svg-detail .typeOfDamege .opetion-item:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
}
.form-element-container.svg-detail .typeOfDamege .opetion-item span {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.77;
  letter-spacing: normal;
  color: #1a1a1a;
  margin-left: 6.5px;
}


div.elements-row:hover {
  background-color: #f85365 !important;
  color:#fff !important;
}

.form-element-container path[title] {
  cursor: pointer;
}
.form-element-container path.hover {
  fill: gray;
  stroke: gray;
}
.form-element-container.svg-detail svg .changed {
  fill: #e40030;
}
.form-element-container.svg-detail svg .painted {
  fill: #ffdb4d;
}

.form-element-container.svg-detail .typeOfDamege:before {
  content: "";
  position: absolute;
  left: 50%;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  margin-left: -10px;
  clear: both;
}
.form-element-container.svg-detail .typeOfDamege .opetion-item.orginal:before {
  background-color: #fff !important;
  border: 1px solid #979797 !important;
}
.form-element-container.svg-detail .typeOfDamege .opetion-item.painted:before {
  background-color: #ffdb4d !important;
}
.form-element-container.svg-detail .typeOfDamege .opetion-item.changed:before {
  background-color: #e40030 !important;
}
.inner-addon { 
  position: relative; 
}
.dropzone{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border .24s ease-in-out;
}
/* style icon */
.inner-addon .glyphicon {
position: absolute;
padding: 10px;
pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

// 3rd-party Plugins
@import "~highlight.js/styles/googlecode.css";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";
@import "~react-image-gallery/styles/scss/image-gallery.scss";
// Theme Styles
@import "./_metronic/_assets/sass/style.react.scss";
@import "./_metronic/_assets/sass/components/wizard.scss";
@import "./_metronic/_assets/sass/pages/wizard/wizard-2.scss";

// Default Layout themes
// @import "./_metronic/_assets/sass/themes/layout/header/base/light.scss";
// @import "./_metronic/_assets/sass/themes/layout/header/menu/light.scss";
// @import "./_metronic/_assets/sass/themes/layout/brand/dark.scss";
// @import "./_metronic/_assets/sass/themes/layout/aside/dark.scss";

// Header themes
// Light
//@import "./_metronic/_assets/sass/themes/layout/header/base/light.scss";
// Dark
// @import "./_metronic/_assets/sass/themes/layout/header/base/dark.scss";

// Header Menu themes
// Light
//@import "./_metronic/_assets/sass/themes/layout/header/menu/light.scss";
// Dark
// @import "./_metronic/_assets/sass/themes/layout/header/menu/dark.scss";

// Brand themes
// .brand-dark {
//   @import "./_metronic/_assets/sass/themes/layout/brand/dark.scss";
// }
// // Light
// .brand-light {
//   @import "./_metronic/_assets/sass/themes/layout/brand/light.scss";
// }

// Aside themes
// Dark
//@import "./_metronic/_assets/sass/themes/layout/aside/dark.scss";
// Light
// @import "./_metronic/_assets/sass/themes/layout/aside/light.scss";

// .example-highlight {
//   padding: 0rem 1.5rem 1.75rem !important;
// }

.example-highlight > pre {
  background: none transparent !important;
  margin: 0 !important;
  padding-top: 0.5rem; 
  code { 
      overflow-y: auto;
      display: block;

      span {
        background: none transparent !important;
      }
  }
}

.json > pre {
  background: none #fff !important;

}

.example-code > .json {
  background: none #fff !important;
}

.symbol.symbol-45 > svg {
  width: 100%;
  max-width: 45px;
  height: 45px;
}

.react-bootstrap-table {
  overflow-x: auto;
}

.react-bootstrap-table {
  th {
    outline: none;
   
    &.sortable {  
      .svg-icon-sort {
        opacity: 0;
      }
  
      &:hover {
        cursor: pointer;

        .svg-icon-sort {
          opacity: 1;
        }
      }
    }    
  }

  .table.table-head-custom thead tr {
    .sortable-active {
        color: $primary !important;
    }
  }
}

.cursor-default {
  cursor: default !important;
}


